.country{ fill: rgb(0, 75, 151); }

.point {
    fill: orange;
    /*stroke: #FFF;*/
}

.hidden {
    display: none;
}

.buildings {
	fill: steelblue;
}

.roads {
	fill: none;
	stroke: orange;
	stroke-width: 0.3px;
}

div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}
